@charset "UTF-8";

/*
   Daniel Dias dos Santos
*/

ul#album-fotos {
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
	
	
	
}

ul#album-fotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 0px 0px 30px rgba(233,233,233,1);
	-webkit-transition: all .4s ease-in; /* efeito para fotos*/
}



ul#album-fotos li span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0, 0, 0, .3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

/*efeito para fotos com mouse*/
ul#album-fotos li:hover span {
	opacity: 1;
}

/*efeito para todas as fotos*/
ul#album-fotos li:hover {
	-webkit-transform: scale(1.5);
}

/*efeito de zoom para tras nas fotos com o mouse*/
ul#album-fotos li#foto01:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto02:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto03:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto04:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto05:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto06:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

/*para imagens*/

ul#album-fotos li#foto01 {
	background: url("../imagens/1.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto02 {
	background: url("../imagens/2.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto03 {
	background: url("../imagens/3.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto04 {
	background: url("../imagens/4.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto05 {
	background: url("../imagens/5.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto06 {
	background: url("../imagens/6.png");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto07 {
	background: url("../imagens/fto1.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto08 {
	background: url("../imagens/fto2.jpg");
	background-position: 50% 50%;
	background-size: 300px 200px;
	background-color: #ffffff;
}

ul#album-fotos li#foto09 {
	background: url("../imagens/fto3.png");
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #ffffff;
}

ul#album-fotos li#foto010 {
	background: url("../imagens/fto4.jpg");
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #ffffff;
}

ul#album-fotos li#foto011 {
	background: url("../imagens/fto7.png");
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #ffffff;
}

ul#album-fotos li#foto012 {
	background: url("../imagens/fto6.png");
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #ffffff;
}

